@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap");

:root {
  --max-width: 1190px;
  --border-radius: 12px;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
  }
}

/* FONT IMPORTS */
/* @font-face {
  font-family: "Jost-ExtraLight";
  src: url(/fonts/Jost-ExtraLight.ttf);
  font-display: swap;
} */

/* LAYOUT */
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html,
body {
  box-sizing: border-box;
  /* max-width: var(--max-width); */
  overflow-x: hidden;
  margin-inline: auto;
  font-size: 62.5%;
}

body {
  /* padding-inline: 4.5rem; */
  font-size: 1.4rem;
  background-color: #fff;
  color: #000;
}

::selection {
  background-color: #fff;
}

/* FONT DEFAULTS */

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  border-radius: 0px;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

a.cta {
  display: inline-block;
  font-size: 1.65rem;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.65px;
  background-color: #000;
  padding: 1.2rem 3.2rem;
  margin-top: 2.5rem;
  color: #fff;
  border-radius: 5.5px;
}

/* CLERK STYLES */
/* BIG NOTE: All these styles apply to both, SIGNUP and SIGNIN components */
.cl-internal-17ydaof {
  /* CARD CONTAINER */
  max-width: 400px;
  min-width: 375px;
}

.cl-internal-1pccesk {
  /* SOCIAL SIGN UP ICONS */
  width: 2rem;
  height: auto;
}

.cl-internal-b3fm6y {
  /* 'POWERED BY CLERK' on left of card */
  display: none;
}

.cl-internal-1w69gvy {
  /* ALL LABELS */
  font-size: 13.5px;
}

.cl-internal-1minw9v {
  /* CTA BUTTON */
  padding-block: 1.2rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 390px) {
  .cl-internal-1ojiiql {
    width: 100%;
    width: 330px;
    display: flex;
    justify-content: center;
  }
  .cl-internal-17ydaof {
    /* CARD CONTAINER */
    /* padding: 0; */
    padding: 1rem 1.2rem;
    margin: 0;
    min-width: 340px;
  }
  .cl-internal-17qh226 {
    flex-flow: column;
  }
}
