/* FONT WEIGHTS */
/* JOST - 200 | 300 | 400 */
/* @import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap"); */
/* ROBOTO - 400 */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

:root {
  --max-width: 1190px;
  --border-radius: 12px;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
  }
}

/* FONT IMPORTS */
/* @font-face {
  font-family: "Jost-ExtraLight";
  src: url(/fonts/Jost-ExtraLight.ttf);
  font-display: swap;
} */

/* LAYOUT */
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html,
body {
  box-sizing: border-box;
  /* max-width: var(--max-width); */
  overflow-x: hidden;
  margin-inline: auto;
  font-size: 62.5%;
}

body {
  /* padding-inline: 4.5rem; */
  font-size: 1.4rem;
  background-color: #fff;
  color: #000;
}

::selection {
  background-color: #fff;
}

/* FONT DEFAULTS */

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
