main#main {
  margin-top: calc(14.56rem + clamp(5rem, 8.5vw, 7rem));
  margin-bottom: clamp(5rem, 8.5vw, 8rem);

  .shipping_container {
    padding-inline: 2.5rem;
    margin-inline: auto;
    max-width: 1290px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: clamp(5rem, 4vw, 7rem);

    // SECTION: SHIPPING DETAILS
    section#confirmed_details {
      h4 {
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-size: 2.2rem;
        text-transform: capitalize;
        margin-bottom: 2rem;
      }
      .shipping_details_container {
        padding: 1.5rem 2rem;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        max-width: 570px;
        .email_flex,
        .address_flex {
          h4 {
            color: #484848;
            font-family: "Kanit", sans-serif;
            font-weight: 400;
            font-size: 1.55rem;
            text-transform: capitalize;
            margin-bottom: 0.5rem;
          }
          p {
            color: #000;
            font-family: "Kanit", sans-serif;
            font-size: 1.65rem;
            font-weight: 300;
          }
        }
        .email_flex {
          padding-bottom: 1.5rem;
          margin-bottom: 1.5rem;
          border-bottom: 1px solid #d9d9d9;
        }
      }
      .shipping_method {
        margin-top: 4.5rem;
        h4 {
          font-family: "Kanit", sans-serif;
          font-weight: 300;
          font-size: 2.2rem;
          text-transform: capitalize;
          margin-bottom: 2rem;
        }
        .method_container {
          border: 1px solid #d9d9d9;
          display: flex;
          justify-content: space-between;
          column-gap: 1.5rem;
          padding: 1.5rem 2rem;
          border-radius: 4px;
          max-width: 570px;

          .input_control {
            display: flex;
            align-items: center;
            input {
              margin-right: 7px;
            }
            label {
              font-family: "Kanit", sans-serif;
              font-weight: 300;
              color: #000;
              font-size: 1.5rem;
            }
          }
          p.method_price {
            font-family: "Kanit", sans-serif;
            font-weight: 300;
            color: #000;
            font-size: 1.5rem;
          }
        }
      }
    }

    // SECTION: ORDER SUMMARY
    section#order_summary {
      h4.summary_title {
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-size: 1.95rem;
        color: #000;
      }
      .product_flex {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        p {
          font-family: "Kanit", sans-serif;
          font-weight: 300;
          font-size: 1.7rem;
        }
        p.units {
          color: #484848;
        }
      }
      .shipping_flex {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #999;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        p {
          font-family: "Kanit", sans-serif;
          font-weight: 300;
          font-size: 1.7rem;
        }
        p.title {
          color: #484848;
        }
      }
      .subtotal_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-family: "Kanit", sans-serif;
          font-weight: 400;
          &.subtotal_description {
            font-size: 1.75rem;
          }
          &.subtotal_amount {
            font-size: 2.8rem;
          }
        }
      }
      a {
        text-align: center;
        min-width: 205px;
        display: block;
        font-family: "Kanit", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.75px;
        background-color: #0058a3;
        color: #fff;
        border-radius: 30px;
        margin-top: 4rem;
        padding-block: 1.2rem;
        padding-inline: 3.2rem;
        font-size: 1.7rem;
      }
    }

    // RETURN BUTTON
    .return_container {
      a {
        display: inline-block;
        margin-top: 3.5rem;
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        color: #000;
        text-transform: none;
      }
    }
  }
}

// MEDIA QUERY - DEFAULT 'MY' for MAIN element
@media screen and (max-width: 811px) {
  main#main {
    margin-top: calc(8rem + 5rem);

    .cart_container {
      grid-template-columns: 1fr;
      row-gap: 5rem;
    }
  }
}

@media screen and (max-width: 651px) {
  main#main {
    .shipping_container {
      grid-template-columns: 1fr;
      row-gap: 5rem;
    }
  }
}
